NEXT_PUBLIC_AUTH_API_URL=
NEXT_PUBLIC_BACKOFFICE_API_URL=
NEXT_PUBLIC_BETTING_API_URL=
NEXT_PUBLIC_COMMON_API_URL=
NEXT_PUBLIC_DOCUMENTS_API_URL=
NEXT_PUBLIC_KYC_API_URL=
NEXT_PUBLIC_MONITORING_API_URL=
NEXT_PUBLIC_PAYMENTS_API_URL=
NEXT_PUBLIC_TAXES_API_URL=
